@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif !important;
    background: #f7efe2;
}

.work{
    padding-bottom: 30px;
}

.box-experience{
    position: absolute;
    top: -56px;
    max-width: 40%;
}

.soft{
    margin-top: 70px;
    margin-bottom: 20px;
}

.languages{
    margin-right: 50px;
}

@media(max-width:1023px){

    .column-right-2{
        margin-left: 0 !important;
    }
    .box-experience{
        position: static;
        max-width: 100%;
    }

    .box-work,.experience-txt{
        flex-wrap: wrap;
    }

    .languages-txt{
        flex-direction: column;
        gap: 20px;
    }
    
    #mobileMenu{
        background: #fff;
        top:75px
    }
}

@media(max-width:426px){
    .avatar{
        max-width: 80%;
        margin: auto    ;
    }

    .title-page,.build-text{
        font-size: 50px !important;
    }
}